* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #F9FAF8;;
}

header,
.top-container,
footer {
  background-color: #1F2937;
  color: #F9FAF8;
}

.quote-container {
  background-color: #E5E7EB;
}

header {
  display: flex;
  gap: 20px;
  padding: 10px 15vw;
}

.logo {
  margin-right: auto;
}

