* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #F9FAF8;;
}

header,
.top-container,
.info-container,
.quote-container,
.call-to-action-container,
footer {
  padding-left: 15vw;
  padding-right: 15vw;
}

header,
.top-container,
footer {
  background-color: #1F2937;
  color: #F9FAF8;
}

.top-container,
.info-container,
.quote-container,
.call-to-action-container {
  flex-grow: 1;
}

.top-container {
  display: flex;
  align-items: center;
}

.right-container img{
  background-color: azure;
  width: 30vw;
  height: 100px;
  display: block;
}

.quote-container {
  background-color: #E5E7EB;
}

header {
  display: flex;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  margin-right: auto;
}

